@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.profile-content {
	background: linear-gradient(to right, #2ed573, #f9ca24);
	margin: auto;
	text-align: left;
	font-family: 'Karla';
}