* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2ed573, #f9ca24);
  overflow-x: hidden;
  /* color: #d8d8d8; */
  width: 100%;
  line-height: 80px;
  height: 80px;
  font-size: 18px;
  padding: 0 30px;
  font-family: 'Karla';
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}

.navbar a.nav-logo {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Karla';
  color: #ffffff;
  font-weight: bold;
}

.navbar ul {
  float: right;
  color: white;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}

.navbar ul li a:hover {
  background-color: #83D475;
}

body {
  width: 100%;
  background: linear-gradient(to right, #2ed573, #f9ca24);
  overflow-x: hidden;
}

.content {
  background-color: inherit;
  font-family: 'Karla';
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: left;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  width: 70%;
  color:white;
}

.landing-form{
  text-align: left;
  background-color: inherit;
  flex-direction: column;
  width: 40%
}

h1 {
  font-size: 70px;
}

p {
  margin-top: 10px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.btns {
  margin-top: 20px;
  background: #ffffff;
  cursor: pointer;
  color: #d8d8d8;
  padding: 12px 20px;
  border: 0;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
}

.btns hover {
  background: #ffffff;
}

.btns-position{
  display: inline;
  flex-direction: row;
}


.image-container{
  background-attachment: fixed;
  background-color: inherit;
  margin-top: 10%;
  margin-right: 10%;
  width: 75%;
 
}

.image-container img{
  top: -10%;
  right: -10%;
  width: 60%;
  object-fit: contain;
}


img.hover {
  filter: grayscale(0);
  transition: 3s;
  cursor: pointer;
}

.test{
  height:100vh;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.test1{
  height:100vh;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.test2{
  height:100vh;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}