.content {
    background-color: inherit;
    align-items: left;
    font: inherit;
    color: black;
  }
  
  .calendar {
    display: flex;
    flex-wrap: wrap;
  }
  
  .calendar-day {
    flex: 1 0 calc(100% / 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .calendar-day-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .calendar-day-progress {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #007bff;
  }
  
  .progress-bar.over-budget {
    background-color: red;
  }
  