.profile-nav {
    width: 100%;
    height: 100px;
}

.profile-container {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-form {
    background: #fff;
    width: 900px;
    height: 700px;
    position: relative;
}

.profile-form-leftbox {

    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #43a047;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
    border: .1em solid #fff;
}



.profile-form-leftbox nav a {
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.5em;
    display: block;
    transition: all .3s ease-in-out;
    margin-left: 13px;
    margin-top: 35px;
}

.profile-form-rightbox {
    width: 60%;
    margin-left: 27%;
}

.profile-form-rightbox h1 {
    font-family: "Poppins", sans-serif;
    color: #7ed386;
    font-size: 1.2 rem;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 500px;
    text-align: left;
}

.profile-form-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 0;
    color: #fff;
    background: #7ed386;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-top: 25px;
}