@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

.navbar{
	background-color: #000;
	/* color: #d8d8d8; */
	border-bottom: 0.5px sold gray;
	width: 100%;
	line-height: 80px;
	height: 80px;
	font-size: 18px;
	padding: 0 30px;
	position: absolute;
	top:0;
	left:0;
	font-family: 'Karla';
}

.navbar a{
	text-decoration: none;
	/* color: #d8d8d8; */
}

.navbar a.nav-logo{
	float: left;
	height: inherit;
	line-height: inherit;
	padding: 0 30px;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Karla';
	/* color: #d8d8d8; */
	font-weight: bold;
}

.navbar ul{
	float: right;
	color: white;
	list-style: none;
	height: inherit;
	line-height: inherit;
	padding: 0 50px;
}

.navbar ul li{
	display:inline-block;
}

.navbar ul li a{
	display: block;
	text-align: center;
	min-width: 120px;
	padding: 0 30px;
}

.navbar ul li a:hover{
	/* background-color:gray; */
}

body{
	background-color: #000;
    float: left;
    margin-right: 5px;
	
}

.content{
    flex-direction: column;
    text-align: left;
    float:left;
    margin-right:5px;
    display: flex;    
	font-family: 'Karla';
	/* color: #d8d8d8; */
	margin-top: 10%;
	margin-left:90px;
    background-color: #000;
}

h1{
	font-size: 70px;
}

p{
}

.main{
    float:left; 
    
}

.btns{
	margin-top: 10px;
	cursor:pointer;
	color: #191919;
	padding: 12px 20px;
	float: left;
	border: 0;
	border-radius:20px;
	margin-left: 10px;
}

.btns hover{
	background: #848482;
}
img{
position: relative;
width: 30%;
top: -350px;
right: -350px;
}
img.hover{
	filter: grayscale(0);
	transition: 3s;
	cursor: pointer;
}
.signup-form{
    width: 50%;
    background-color: #000;
    flex-direction: column;
    text-align: left;

}


#chartTitle{
	text-align: center;
  }
  
  #pieChart{
	padding: 20px;
	width: 45%;
	float:left;
	
  }
  
  #barChart{
	padding: 20px;
	width: 45%;
	float: right;
  
  }
  
  #lineChart{
	padding: 20px;
	width: 45%;
	float: right;
  }
  
  .budgetSetter{
	text-align: center;
	
  
  }
  
  .budgetButton{
	padding: 14px 40px;
	margin: 4px 2px;
	background-color: #5CCC74;
	border: none;
	color: white;
	font-size: 24px;
	border-radius: 4px;
  }
  
  #budget{
	font-size: 40px;
	margin: 4px 2px;
  }
  
