body {
  margin: 0;
  }
 .transactions {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 8%;
 
 
  background-color: rgb(163, 222, 182, 0.2);

  }
  
  .content{
    width: 100%;
    left: 0;
  }
  table{
    
    
   
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    
    width: 90%;
  }

 tr, th, td{
    border: 0.3px solid darkolivegreen;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(163, 222, 182, 0.2);  
    font-size: 1.5rem;
  }

  th{
    font-family: 'Karla';
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(58, 85, 66,0.2);
    color: white;
    padding: 5px;
    border: 0.3px solid darkolivegreen;
    text-shadow: 0.5px 0.5px 0.5px olivedrab;
  }
  
  td{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: rgb(163, 222, 182, 0.2);
    color: black;
    padding: 5px;
    text-transform: capitalize;
    
    
  }
 
  .modal {
 
    border: 1px solid black;
    width: 100%;



  }
 
form{
  display: grid;
  flex-direction: column;
  justify-content: center;
  
  
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  
  text-align: center;
}

.popup-content{
  margin:0;
  padding: 0px;
}

  
