body {
  margin: 0;
  }

  .div1{
   
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(163, 222, 182);
  }
 
  .div1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(163, 222, 182);
  }

  table{
    
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin: 5px;
    
  }

 tr, th, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin: 5px;
    
  }
  
  th{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    background-color: rgb(58, 85, 66);
    color: white;
    padding: 5px;
  }
  
  td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    background-color: rgb(163, 222, 182);
    color: black;
    padding: 5px;
    text-transform: capitalize;

    
  }
  
  .edit-btn{
    float: left;
    height: 100%;
    background-color: rgb(58, 85, 66);
    color: white;
    font-size: 1.5rem;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    border-radius: 5%;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }

  .edit-btn:hover{
    background-color: rgb(99, 142, 113);
  }
  



.modal {
  position: absolute;
  position: fixed; /* Stay in place */
  top: 0%;;
  left: 0%;
  
  

  width: 100%; /* Full width */
  height: 100%; /* Full height */
 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 10px;
  text-align: center;
  
  
}

/* The Close Button */
.close {
  position: fixed;
  top: 5%;
  right: 5%;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* remove the modal arrow */
.modal:before {
  content: none;
}


.modal:after {
  content: none;
}

/* make the input prettier */

input {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: capitalize;
  color: black;
  background-color: rgb(163, 222, 182);
  border-radius: 5%;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

h2{
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-transform: capitalize;
  color: black;
  font-size: 2rem;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.save-btn{
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: rgb(58, 85, 66);
  color: white;
  border: none;
  border-radius: 5%;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}






  